.vscode
.cph
*.exe
*.bin
smallest_number/random_test_case
smallest_number/solution
super_prime_number_2/random_test_case
super_prime_number_2/solution
decreasing_array/random_test_case
decreasing_array/solution
positive_number_array/random_test_case
positive_number_array/solution
max_sum_array/random_test_case
max_sum_array/solution
ascending_array_2/random_test_case
ascending_array_2/solution
missing_element/random_test_case
missing_element/solution
missing_element _2/random_test_case
missing_element _2/solution
mountain_array/random_test_case
mountain_array/solution
miners_and_gold/random_test_case
miners_and_gold/solution
symmetric_chain_2/random_test_case
symmetric_chain_2/solution
even_or_odd_sequence/random_test_case
even_or_odd_sequence/solution
rabbit_and_carrot/random_test_case
rabbit_and_carrot/solution
rabbit_and_carrot_2/random_test_case
rabbit_and_carrot_2/solution
alike_array_2/random_test_case
alike_array_2/solution
ascending_array_3/random_test_case
ascending_array_3/solution
number_prime/random_test_case
number_prime/solution
min_alike_number/random_test_case
min_alike_number/solution
max_alike_number/random_test_case
max_alike_number/solution
ascending_number/random_test_case
ascending_number/solution
min_ascending_number/random_test_case
min_ascending_number/solution
max_ascending_number/random_test_case
max_ascending_number/solution
number_square/random_test_case
number_square/solution
snail_and_tree/random_test_case
snail_and_tree/solution
last_zero_of_n_factorial/random_test_case
last_zero_of_n_factorial/solution
sum_array_equals_s/random_test_case
sum_array_equals_s/solution
rectangle_one/random_test_case
rectangle_one/solution
virus/random_test_case
virus/solution
perfect_square/random_test_case
perfect_square/solution
perfect_square _2/random_test_case
perfect_square _2/solution
perfect_square _3/random_test_case
perfect_square _3/solution
divisors_array/random_test_case
divisors_array/solution
divisors_array_2/random_test_case
divisors_array_2/solution