.vscode
prime_array/random_test_case
prime_array/solution
sum_a_b/random_test_case
sum_a_b/solution
smallest_number/random_test_case
smallest_number/solution
divisors/random_test_case
divisors/solution